<h2>Foire aux questions</h2>

<div class="faq-container">
  <% faqs.forEach(item => { %>
    <div class="faq-item">
      <h3><%= item.question %></h3>
      <p><%= item.reponse %></p>
    </div>
  <% }); %>
</div>